<h2>Favourite Team</h2>

<form action="/profile/create" method="post">

  <label for="favouriteTeam">Favourite Team: </label>
  <select name="favouriteTeam" id="">
    {{#each teamList}}
      <option value={{_id}}>{{name}}</option>
    {{/each}}
  </select>
  <label for="favouriteLegend">Favourite Legend: </label>
  <select name="favouriteLegend" id="">
    {{#each legendList}}
      <option value={{_id}}>{{name}}</option>
    {{/each}}
  </select>
 <label for="favouritePilot">Favourite Pilot: </label>
  <select name="favouritePilot" id="">
    {{#each listPilots}}
      <option value={{_id}}>{{name}}</option>
    {{/each}}
  </select>
  <button type="submit">Create Your Favourites</button>

