<div class="pCreateMain">
  <div class="createProfDiv">
  <h1>Favourites</h2>
  <p>Choose your team, pilot and legend so we can know who you support!</p>


<div class="formdiv">
  <form action="/profile/create" method="post">

    <label for="favouriteTeam">Favourite Team: </label>
  <select name="favouriteTeam" id="">
    {{#each teamList}}
      <option value={{_id}}>{{name}}</option>
    {{/each}}
  </select>
  <label for="favouriteLegend">Favourite Legend: </label>
  <select name="favouriteLegend" id="">
    {{#each legendList}}
      <option value={{_id}}>{{name}}</option>
    {{/each}}
  </select>
 <label for="favouritePilot">Favourite Pilot: </label>
  <select name="favouritePilot" id="">
    {{#each listPilots}}
      <option value={{_id}}>{{name}}</option>
    {{/each}}
  </select>
  <button type="submit"><b>Create Your Favourites</b></button>
  </form>
  </div>
  </div>
  </div>

