
<h1>Driver standings</h1>
{{#each response}}
  <div>
    <p>Driver:
      {{Driver.driverId}}
      Position:
      {{position}}
      Wins:
      {{wins}}
      Points:
      {{points}}
    </p>
  </div>
{{/each}}
<h1>Constructor standings</h1>
{{#each response}}
  <div>
    <p>Driver:
      {{Driver.driverId}}
      Position:
      {{position}}
      Wins:
      {{wins}}
      Points:
      {{points}}
    </p>
  </div>
{{/each}}
