<h1>{{circuit.raceName}}</h1>

<p>Circuit Name:{{circuit.Circuit.circuitName}}</p>

<p>Location:
  {{circuit.Circuit.Location.locality}},
  {{circuit.Circuit.Location.country}}</p>

<p>P1: {{circuit.FirstPractice.date}}</p>
<p>P2: {{circuit.SecondPractice.date}}</p>
<p>P3: {{circuit.ThirdPractice.date}}</p>
<p>Qualifying: {{circuit.Qualifying.date}}</p>
<p>2022 Race Date: {{circuit.date}}</p>

<img src="{{response.imageUrl}}" alt="circuit" />