<div class="gpDetailsMain">

  <div class="cpDetailsContainer">

    <img src="{{response.imageUrl}}" alt="circuit" />
    <p> <b>Circuit Name:</b> {{circuit.Circuit.circuitName}}</p>
    <p><b>Location: </b>
      {{circuit.Circuit.Location.locality}},
      {{circuit.Circuit.Location.country}}</p>
    <p><b>P1: </b>{{circuit.FirstPractice.date}}</p>
    <p><b>P2:</b> {{circuit.SecondPractice.date}}</p>
    <p><b>P3:</b> {{circuit.ThirdPractice.date}}</p>
    <p><b>Qualifying:</b> {{circuit.Qualifying.date}}</p>
    <p><b>2022 Race Date: </b>{{circuit.date}}</p>

  </div>

</div>