<h1>{{this.raceName}}</h1>

<p>Circuit Name:{{Circuit.circuitName}}</p>

<p>Location: {{Circuit.Location.locality}}, {{Circuit.Location.country}}</p>


<p>P1: {{FirstPractice.date}}</p>
<p>P2: {{SecondPractice.date}}</p>
<p>P3: {{ThirdPractice.date}}</p>
<p>Qualifying: {{this.Qualifying.date}}</p>

<p>2022 Race Date: {{this.date}}</p>