<div class="teamDetailsMain">
  <img class="teamlogos" src="{{team.imageUrlCar}}" alt="team logo" />
  <div class="teamDetailsContainer">

    <h1> <b>{{team.name}}</b> </h1>
    <p> <b>TeamChief: </b> {{team.teamChief}}</p>
    <p> <b>Championships:</b> {{team.championships}}</p>
    <p> <b>Country:</b> {{team.country}}</p>
    <p> <b>First Race:</b> {{team.firstEntry}}</p>

  </div>

</div>