

  <h1>{{team.name}}</h1>
  <p>TeamChief: {{team.teamChief}}</p>
  <p>Championships: {{team.championships}}</p>
  <p>Country: {{team.Country}}</p>
  <p>First Race: {{team.firstEntry}}</p>
  <img class="teamlogos" src='{{pilot.imageUrl}}' alt="">

 