{{#each teams}}
  <div>
    <h1>{{name}}</h1>
    <p>TeamChief: {{teamChief}}</p>
    <p>Championships: {{championships}}</p>
    <p>Country: {{Country}}</p>
    <p>First Race: {{firstEntry}}</p>
    <p>{{imageUrl}}</p>
  </div>
{{/each}}