<div class="teamDetailsMain">

<div class="teamDetailsContainer">

<h1>{{team.name}}</h1>
  <p>TeamChief: {{team.teamChief}}</p>
  <p>Championships: {{team.championships}}</p>
  <p>Country: {{team.country}}</p>
  <p>First Race: {{team.firstEntry}}</p>
  <img class="teamlogos" src="{{team.imageUrlCar}}" alt="team logo" />

</div>
  

</div>