<div class="pDetailsMain">
  <img class="pilotslogo" src="{{pilot.imageUrl}}" alt="" />
  <div class="pDetailsTxt">
    <h1><b>{{pilot.name}}</b></h1>
    <p><b>Date of birth:</b> {{pilot.dateOfBirth}}</p>
    <p><b>Nationality:</b> {{pilot.nationality}}</p>
    <p><b>Podiums:</b> {{pilot.podiums}}</p>
    <p><b>Championships: </b>{{pilot.championships}}</p>
  </div>
</div>

