
  <div>
    <h1>{{pilot.name}}</h1>
    <p>Date of birth: {{pilot.dateOfBirth}}</p>
    <p>Nationality: {{pilot.nationality}}</p>
    <p>Podiums: {{pilot.podiums}}</p>
    <p>Championships: {{pilot.championships}}</p>
    <img class="pilotslogo" src="{{pilot.imageUrl}}" alt="">
  </div>
