{{#each pilots}}
  <div>
    <h1>{{name}}</h1>
    <p>Date of birth: {{dateOfBirth}}</p>
    <p>Nationality: {{nationality}}</p>
    <p>Podiums: {{podiums}}</p>
    <p>Championships: {{championships}}</p>
    <p>{{imageUrl}}</p>
  </div>
{{/each}}